* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
}

.nav-imagem {
    margin: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 3px solid white;
}

.nav-text {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.principal {
    display: flex;
}