* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    font-size: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 5px solid black;
    padding: 15px;
    background: gray;
}

.container-header-main {
    margin-left: 50%;
    margin-top: 15px;
}

.nav-imagem {
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
}

.container-header-main-item {
    margin-top: 35px;
    margin-left: 15px;
    font-size: 22px;
    color: floralwhite;
    align-items: center;
}